.App {
  text-align: left;
}

.Form-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
}

.Form-container .Form {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: flex-end;
}
 
.Form-container .Form input {
  background-color: aqua;
  /* text-transform: uppercase; */
  font-size: 18px;
}