.App {
  text-align: center;
}

.buttons-count {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 120px;
  margin: auto;
}

.buttons-count button {
  border-radius: 8px;
  height: 30px;
  width: 200px;
  font-size: 18px;
}
