{
  "prettier.tabWidth": 2,
  "prettier.semi": true,
  "prettier.singleQuote": true,
  "prettier.trailingComma": "all",
  "prettier.arrowParens": "always",
  "prettier.endOfLine": "auto",
  "prettier.bracketSameLine": false
}
