* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  background-color: rgb(3 107 82);
  padding-bottom: 30px;
  position: fixed;
  z-index: 1;
  width: 100%;
}
#header-icons {
  display: flex;
  align-self: flex-start;
  flex-basis: 100%;
  flex-shrink: 1;
  justify-content: center;
  position: absolute;
  margin-left: 55rem;
} 

.container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#titulo {
  font-size: 35px;
  font-family: 'Lobster', cursive;
  letter-spacing: 0.5ch;
  color: rgb(253, 251, 251);
  margin-top: 30px;
}

.navbar-nav {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 30px;
}

.nav-item {
  display: flex;
  flex-flow: wrap;
  list-style: none;
}

.nav-link-a {
  display: flex;
  flex-flow: wrap;
  text-decoration: none;
  color: rgb(253, 251, 251);
  font-size: 24px;
}

.nav-link-a:hover {
  transition: 0.5s;
  font-weight: 600;
  font-size: 25px;
} 

.container-letter {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-top: 200px;
}

#container-input #carta-texto {
  height: 30px;
  font-size: 22px;
}

#container-input #criar-carta {
  background-color: rgb(3 107 82);
  color: white;
  width: 200px;
  height: 35px;
  font-size: 22px;
  border-radius: 2rem;
  margin-left: 10px;
}

#container-text {
  margin-top: 50px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

#rodape {
  background-color: rgb(17, 16, 16);
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  padding-top: 15px;
  color: rgb(253, 251, 251);
  position: absolute;
  bottom: 0;
  font-family: 'Lobster', cursive;
}
